body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(80, 80, 80);
	.calculator {
		height: 700px;
		width: 500px;
		margin-top: 100px;
		background-color: rgba(65, 105, 225, 0.5);
		padding: 20px;
		border: 5px solid black;
		border-radius: 15px;

		td {
			border: 4px solid black;
			border-radius: 15px;
			background-color: rgba(38, 63, 139, 0.5);
			width: 100px;
			height: 100px;
			font-size: 50px;
			font-weight: bold;
			font-family: monospace;
			text-align: center;
			color: azure;
		}
		.pola:hover {
			background-color: rgba(65, 105, 225, 0.8);
			transition: 300ms;
			cursor: pointer;
		}
		.pole_wyniku {
			text-align: right;
			padding-right: 2%;
		}
		#nieaktywna_div {
			font-size: 40px;
			color: rgba(245, 245, 245, 0.4);
			height: 30px;
		}
		#wynik_div {
			height: 70px;
			margin-top: 10px;
			font-size: 60px;
		}
	}
}
